

@font-face {
font-family: 'Arturo Trial ExtraLight';
font-style: normal;
font-weight: normal;
src: local('Arturo Trial ExtraLight'), url('Arturo-ExtraLight Trial.woff') format('woff');
}
h1
{
  font-family:'Arturo Trial ExtraLight';
}
h2
{
  font-family:'Arturo Trial ExtraLight';
  font-weight: 200;
  color:rgba(70,255,100,1);
}


























